<h2>Hi, {{sleUsername}}!</h2>

<p><strong>{{sleCommitAuthor}}</strong> wants you to review a recent commit to <a
href="{{repoUrl}}">{{repoName}}</a> on GitHub.</p>

<p>Review it: <a href="{{sleCommitUrl}}">{{sleCommitUrl}}</a></p>

<h3>Commit Details</h3>
<table>
   <tr>
      <th style="text-align:right">Hash: </th>
      <td>{{sleCommitId}}</td>
   </tr>
   <tr>
      <th style="text-align:right">Committed: </th>
      <td>{{sleCommitTimestamp}}</td>
   <tr>
      <th style="text-align:right">Message: </th>
      <td>{{sleCommitMessage}}</td>
   </tr>
<hr>
<p style="font-size:10px;color:#ccc;font-style:italic">Sent by <a href="https://www.github.com/mitchellwrosen/second-look">Second Look</p>
