Hi {{sleUsername}}!

{{sleCommitAuthor}} wants you to review a recent commit to {{sleRepoName}} ({{sleRepoUrl}}) on GitHub.

Review it: {{sleCommitUrl}}

Commit Details
==============
     Hash: {{sleCommitId}}
Committed: {{sleCommitTimestamp}}
  Message: {{sleCommitMessage}}

Sent by Second Look ("https://www.github.com/mitchellwrosen/second-look")
