Hi {{sleSalutation}}!

{{sleCommitAuthor}} wants you to review a recent commit to "{{sleRepoName}}" ({{sleRepoUrl}}) on GitHub.

Review it: {{sleCommitUrl}}

Commit Details
==============
     Hash: {{sleCommitId}}
Committed: {{sleCommitTimestamp}}
  Message: {{sleCommitMessage}}
    Added: {{#sleCommitAdded}}{{.}} {{/sleCommitAdded}}
 Modified: {{#sleCommitModified}}{{.}} {{/sleCommitModified}}
  Removed: {{sleCommitRemoved}}{{.}} {{/sleCommitRemoved}}

Repository Details
==================
       Name: {{sleRepoName}}
        URL: {{sleRepoUrl}}
Description: {{sleRepoDescription}}
    Created: {{sleRepoCreatedAt}}
Open issues: {{sleRepoOpenIssues}}
       Size: {{sleRepoSize}} kb
      Forks: {{sleRepoForks}}
 Stargazers: {{sleRepoStargazers}}
   Watchers: {{sleRepoWatchers}}

-----
Sent by Second Look
