Hi {{username}}!

{{commit_author}} wants you to review a recent commit to {{repo_name}} ({{repo_url}}) on GitHub.

Review it: {{commit_url}}

Commit Details
==============
     Hash: {{commit_id}}
Committed: {{commit_timestamp}}
  Message: {{commit_message}}

Sent by Second Look ("https://www.github.com/mitchellwrosen/second-look")
